<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Python Django web application</title>
    <meta name="description" content="" />
    <link href="{% static "/static/helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "/static/helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">

        <header>
            <nav class="website-nav">
                <ul>
                </ul>
            </nav>
        </header>

        <div class="message">
            <div class="text">
                <h1>HI SAJU!</h1>
                <h2>I have updated a Python Django web application</h2>
            </div>
        </div>
    </div>

    <footer>
        <p class="footer-contents"></p>
    </footer>


</html>

